<div class="people">
    <h5><u>Characterdetails</u></h5>
    <h1>{{people.name}}</h1>
    <div class="media">
        <div class="media-body" style="margin-right: 20px;">
          <h4>Details</h4>
          <p><b>height: </b>{{people.height}}</p>      
          <p><b>mass: </b>{{people.mass}}</p>      
          <p><b>hair color: </b>{{people.hair_color}}</p>   
          <p><b>eye color: </b>{{people.eye_color}}</p>   
          <p><b>birth year: </b>{{people.birth_year}}</p>   
          <p><b>gender: </b>{{people.gender}}</p>     
        </div>
        <img src="../../assets/images/cover1.png" alt="{{people.title}}">
    </div>
    <h2 style="text-align:left">Characters</h2>
    <a class="btn btn-primary">homeworld</a>
</div>
